.hero {
    .title {
        font-weight: $weight-light;
        .fades {
            transition: opacity 500ms linear;
        
            &.fading {
                opacity: 0;
            }
        }
    } 
}